{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!---->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1cafbbf4f1.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
</head>


<body>
  <!-- Header -->
  <section id='header'>
    <div id="logo">
      <img class ="img-fluid"src="{% static '/Resource/logo.png' %}" id="logo_image" alt="Logo" >
    </div>
  </section>
  <hr>
  <!-- Image and Email -->
  <section id="part-2">
    <div class="bg-image">
      <div class="row">
        <div class="col-md-6">
          <p></p>
        </div>
        <div class="col-lg-6">
          <h2 id="bg-text">
            <br>
            <p id= 'text_22'>Do You Want To Have Music With
              Your Content Without Worry or
              Demonetization?</p>
            <p class="pose">
              Enter your email now and receive early
              access to our beta release!
            </p>
            <p class="email">
              {%block content%}
              {%endblock content%}
            </p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <!-- Part with Why Use STREAMCICLE? header  -->
  <section class="part_3">
    <div id='arrow'>
      <img class="rounded mx-auto d-block img-3"  src="{% static '/Resource/images.png'%}" alt="1">
    </div>
    <div class="part-3-cont">
      <h1>Why Use STREAMCICLE?</h1>
    </div>
    <div class="part-3-cont">
      <h3>Have you ever wanted to put specific music in your videos but ended up
        with copyright issues? Have you ever avoided playing music in your
        content due to fear of being muted, demonetized, suspended, or banned?
        <p id="pr3">Our team of engineers, content creators, artists, managers, and
          distributors have banded together to bring the freedom of musical choice
          back to our community! STREAMCICLE is the ONLY effective way to allow
          creators to elevate their viewers’ experience by streaming additional audio
          alongside their videos.</p>
      </h3>
    </div>
    <div class="btn-part-3 d-flex justify-content-center">
      <button onclick="window.location='#part-2'" type="button" id='btn-2' class="align-self-center border border-white btn btn-info btn-lg btn_color">Join Our Email
        List To Learn More</button>
    </div>
  </section>
  <hr>
  <!-- part with two columns info -->
  <section class="part-4">
    <div class="row">
      <div class=" col-md-6 text-left pos-4">
        <img class="img-4" src="{% static '/Resource/tik.png' %}" alt="1">
        <h2>Built By Creators For Creators</h2>
        <h4>The idea and user-interface were
          designed by content creators to ensure
          value and intuitiveness.</h4>
      </div>
      <div class="col-md-6 pos-4 text-left">
        <img class="img-4" src="{% static '/Resource/tik.png' %}" alt="1">
        <h2>Complete Musical Freedom</h2>
        <h4>
          Finally link the music you want to your
          videos. Currently works for any URL on
          YouTube but will be expanding to other
          platforms.
        </h4>
      </div>
      <div class="col-md-6 pos-4 text-left">
        <img class="img-4" src="{% static '/Resource/tik.png' %}" alt="1">
        <h2>Perfect For Gamers</h2>
        <h4>Link a YouTube mix to your gameplay,
          clip montage, or commentary to elevate
          your viewers’ experiences</h4>
      </div>
      <div class="col-md-6 pos-4 text-left">
        <img class="img-4" src="{% static '/Resource/tik.png' %}" alt="1">
        <h2>No More Copyright Strikes</h2>
        <h4>You heard right. If used correctly, you
          will never have to worry about another
          strike again.</h4>
      </div>
    </div>
    <div class="btn-part-3 d-flex justify-content-center">
      <button onclick="window.location='#part-2'" type="button" id='btn-4' class="align-self-center border border-white btn btn-info btn-lg btn_color">Join our email list To Stay-In-The-Know</button>
    </div>
  </section>
  <!-- Footer -->

  <footer id="footer">

    <p>©Copyright 2021 ICE CHUNK INC</p>

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>

</html>