
{% extends "index.html"%}
{%block content%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<form action=""  id='signup' method="POST">
  {% csrf_token %}
  <div class="form-group">
    <!-- <input type="text" class="form-control" placeholder="First Name*" id="Name"> -->
    <p>{{ form.first_name}}</p>
    <p>{{ form.email}}</p>
  </div>
  <div class="form-group form-2">
    <!-- <input type="email" class="form-control" placeholder="Email*" id="Email"> -->
    <p>
    </p>
  </div>
  <div class="form-group form-check">
  </div>
  <button id ='submit' onclick = "Reset()" type="submit" name="Subscribe" class="btn btn-secondary btn-1 border border-white" disabled >Submit</button>
  <div id="SubmitinfoDiv" style="display: block;">Thank you for submitting your information.<br>You’ll be the first one to receive access to the beta.</div>
</form>
<script >
    const loginform = document.querySelector('#id_email');
    console.log(loginform)
    const loginformEvent = loginform.addEventListener('change', function(){
        var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        const email = document.querySelector('#signup > div >p > #id_email').value
        var bt = document.getElementById('submit')
        document.getElementById("submit").className = "btn btn-secondary btn-1 border border-white";
        document.getElementById("submit").disabled = true;
        if(email.match(mailformat)){
          document.getElementById("submit").disabled = false;
          document.getElementById("submit").className = "btn btn-primary btn-1 border border-white";
        };
    });
    function Reset(){
          var InfoDisplay = document.getElementById("SubmitinfoDiv");
          InfoDisplay.style.display = 'none';
        };

//     $(function() {
//     $('#signup').submit(function() {
//         // show a hidden div to indicate progression
//         $('#SubmitinfoDiv').show();
//     });
// });
</script>
{%endblock content%}
